:root {
    --firstColor: #e94959;
    --bodyColor: #f7f7f8;
    --headerColor: #fff;
    --titleColor: #262626;
    --grey: #e6e6e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'monserrat', sans-serif;
    background: var(--bodyColor);
}

img {
    width: 100%;
    display: block;
}

header {
    background: var(--headerColor);
    position: fixed;
    width: 100%;
    z-index: 2000;
}

.container {
    padding-top: 5rem;
}

.container__header {
    height: 70px;
    width: 90%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left__header a {
    text-decoration: none;
    color: var(--titleColor);
    font-weight: bold;
}

.right__header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.right__header i {
    font-size: 2rem;
}

.btn_1 {
    background: var(--grey);
    padding: .7rem .8rem;
    border: none;
}

.btn_2 {
    background: var(--titleColor);
    color: var(--headerColor);
    padding: 1rem 1.5rem;
}

/*      border-left: 1px solid grey;*/

.main__img {
    background: var(--firstColor);
}

.wrapper {
    width: 100vw;
    color: white;
}

.menu {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.menu li {
    list-style: none;

}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    background-color: rgb(108, 158, 160);
    transition: ease-in .3s
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    max-width: 1024px;
    margin: auto;
}

.Collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.price {
    color: #e94959;
}

.show__all_container {
    width: 90%;
    max-width: 1024px;
    margin: auto;
    padding: 5rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.show__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    border-right: 1px solid var(--titleColor);
}

.show__box:nth-last-child(1) {
    border-right: none;
}

.show__box a {
    text-decoration: none;
    color: var(--titleColor);
    font-weight: bold;
}

.show__box span {
    color: var(--titleColor);
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    width: 90%;
    max-width: 1024px;
    margin: auto;
    padding: 5rem 0;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: auto;
}

.product__img {
    background: var(--grey);
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;

    position: relative;
}

.btn__add {
    padding: .8rem;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 5px rgb(0 0 0 / .4);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -20px;
    right: 10px;
}

.product__info {
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2rem;
    background: var(--headerColor);
}





footer {
    background: var(--grey);
}

.footer__container {
    width: 90%;
    max-width: 1024px;
    margin: auto;
    padding: 3rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
}

.box__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.box__footer h2 {
    margin-bottom: 1.5rem;
}

.box__footer a {
    text-decoration: none;
    color: var(--titleColor);
}

.icons__footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons__footer i {
    font-size: 2rem;
}